{% import "macros/bs_modal.html" as bs_modal %}

{# including HTML head tag' starting part #}
{% include "/includes/html_head_start.html" %}

<!-- page title -->
<title>My Library | LMS</title>

<!-- custom css -->

<link rel="stylesheet" href="{{ url_for('static', filename = 'css/common.css') }}" />

{# including HTML head tag' ending part #}
{% include "/includes/html_head_end.html" %}

<body class="">
	<!-- NAVBAR STARTS : common to all librarian pages -->
	{% include "includes/navbar.html" %}
	<!-- NAVBAR ENDS -->

	<div class="container pt-5">
		<h1 class="mb-5">{{ session["app_user"]["name"] }}'s Library</h1>

		{% if my_library|length == 0 %}
		<h4 class="text-center text-warning">
			Currently there are no books to display!
		</h4>
		{% endif %}

		<div class="row row-cols-1 row-cols-md-2 row-cols-lg-2 g-4 mb-5">

			{% for book in my_library %}
			<div class="col">
				<div class="card h-100">
					<img src="{{ config['ROUTE_TO_GET_BOOK_COVER_IMAGE'] }}/{{ book.cover_image }}" class="card-img-top" alt="{{ book.title }}">
					<div class="card-body">
						<h5 class="card-title">
							{{ book.book_title }}
						</h5>

						{% if book.is_purchased %}
						<div class="">
							<div class="">
								<p class="card-text text-success">
									<i class="bi bi-cart-check-fill"></i>&nbsp;Purchased
								</p>
							</div>

							<hr class="text-info" />

							<div class="d-grid gap-2">
								<a href="/book/read/{{ book.content_access_token }}" class="btn btn-outline-success" target="_blank">Read Now !</a>
							</div>
						</div>
						{% else %}
						<p class="card-text">
							<div class="">
								<div class="text-primary">
									<strong>Due Date: {{ book.date_of_return }}</strong>
									<br />
									Book issued from: <em>{{ book.issued_by_name }}</em>
								</div>
	
								<hr class="text-info" />
	
								<form action="/user/process/return" name="return-book-form" method="POST">
									<input type="hidden" name="book_id" value="{{ book.book_id }}" />
									<div class="d-grid gap-2">
										<div class="btn-group" role="group">
											<button type="submit" class="btn btn-outline-danger">Return ?</button>
											<a href="/book/read/{{ book.content_access_token }}" class="btn btn-outline-primary" target="_blank">Read Now !</a>
										</div>
									</div>
								</form>
							</div>
						</p>
						{% endif %}

						<hr class="text-primary" />

						<h5 class="card-title mb-3">
							<span class="badge text-bg-light">{{ book.language }}</span>
							{{ book.title }}
						</h5>

						<p class="card-text">
							{% for author in book.authors %}
							<span class="badge text-bg-success">{{ author }}</span>
							{% endfor %}
						</p>
						<p class="card-text">{{ book.description }}</p>
						<p class="card-text"><strong>ISBN:</strong> {{ book.isbn }}</p>
						<p class="card-text"><strong>Edition:</strong> {{ book.edition }}</p>
						<p class="card-text"><strong>Publication Date:</strong> {{ book.publication_date }}</p>
						<p class="card-text">
							{% for category in book.category %}
							<span class="badge rounded-pill text-bg-info">{{ category }}</span>
							{% endfor %}
						</p>
						<p class="card-text">
							{% for genre in book.genre %}
							<span class="badge rounded-pill text-bg-warning">{{ genre }}</span>
							{% endfor %}
						</p>
					</div>
				</div>
			</div>
			{% endfor %}

		</div>

	</div>

	{% include "/includes/bs_toast.html" %}

</body>

{# including HTML script tag' #}
{% include "/includes/scripts.html" %}

<script type="module" src="{{ url_for('static', filename = 'js/pages/user/my_library.js') }}"></script>

<script type="text/javascript">

</script>

{% include "/includes/html_end.html" %}