{% import "macros/bs_modal.html" as bs_modal %}

{# including HTML head tag' starting part #}
{% include "/includes/html_head_start.html" %}

<!-- page title -->
<title>{{ book_details.title }} | View Book | LMS</title>

<!-- custom css -->

<link rel="stylesheet" href="{{ url_for('static', filename = 'css/common.css') }}" />

{# including HTML head tag' ending part #}
{% include "/includes/html_head_end.html" %}

<body class="">
	<!-- NAVBAR STARTS : common to all librarian pages -->
	{% include "includes/navbar.html" %}
	<!-- NAVBAR ENDS -->

	<div class="container pt-5">
		<h1 class="mb-5">{{ book_details.title }}</h1>

		<div class="card mb-5">
			<div class="card-header text-center">
				Book Details
			</div>

			<div class="card-body p-5">
				<div class="">
					<img src="{{ config['ROUTE_TO_GET_BOOK_COVER_IMAGE'] }}/{{ book_details.cover_image }}"
						alt="{{ book_details.title }}" class="img-thumbnail rounded mx-auto d-block" width="300px"
						height="400px" style="border-color: #A9DFBF;" />
				</div>

				<h5 class="card-title text-center my-4">
					<span class="badge text-bg-light">{{ book_details.language }}</span>
				</h5>
				<h4 class="card-title text-center my-4">
					{% for author in book_details.authors %}
					<span class="badge text-bg-success">{{ author }}</span>
					{% endfor %}
				</h4>

				<div class="card-text m-3">
					<div class="row">
						<div class="col-md-2">
							<b>
								Description
							</b>
						</div>
						<div class="col-md-10">
							{{ book_details.description }}
						</div>
					</div>
				</div>

				<div class="card-text m-3">
					<div class="row">
						<div class="col-md-2">
							<b>
								ISBN
							</b>
						</div>
						<div class="col-md-10">
							{{ book_details.isbn }}
						</div>
					</div>
				</div>

				<div class="card-text m-3">
					<div class="row">
						<div class="col-md-2 my-2">
							<b>
								Publisher
							</b>
						</div>
						<div class="col-md-4">
							{{ book_details.publisher }}
						</div>
						<div class="col-md-2 my-2">
							<b>
								Publication Date
							</b>
						</div>
						<div class="col-md-4">
							{{ book_details.publication_date }}
						</div>
					</div>
				</div>

				<div class="card-text m-3">
					<div class="row">
						<div class="col-md-2 my-2">
							<b>
								Categories
							</b>
						</div>
						<div class="col-md-4">
							{% for category in book_details.category %}
							<span class="badge rounded-pill text-bg-info">{{ category }}</span>
							{% endfor %}
						</div>
						<div class="col-md-2 my-2">
							<b>
								Genres
							</b>
						</div>
						<div class="col-md-4">
							{% for genre in book_details.genre %}
							<span class="badge rounded-pill text-bg-warning">{{ genre }}</span>
							{% endfor %}
						</div>
					</div>
				</div>

				<div class="card-text m-3">
					<div class="row">
						<div class="col-md-2 my-2">
							<b>
								Feedbacks
							</b>
						</div>
						<div class="col-md-10">
							{% for feedback in book_details.feedbacks %}
							<span class="badge rounded-pill m-2" style="background-color: goldenrod;">{{ feedback.rating }}</span>
							&nbsp;{{ feedback.feedback }}
							<br />
							{% endfor %}
						</div>
					</div>
				</div>

				<div class="card-text m-3">
					<div class="row">
						<div class="col-md-6 my-2">
							<form class="d-grid gap-2" name="raise-book-issue-request-form" action="/book/issue" method="POST">
								<input type="hidden" name="requested_book_id" value="{{ book_details.book_id }}" required />
								<button class="btn btn-block btn-outline-primary" type="submit">Issue or Buy (₹{{ book_details.price }}) ?</button>
							</form>
						</div>
						<div class="col-md-6 my-2 d-grid gap-2">
							<button class="btn btn-outline-info" type="button" data-bs-toggle="modal" data-bs-target="#give_feedback_modal">Give Feedback</button>
						</div>
					</div>
				</div>

			</div>
		</div>

		<!-- Update user profile picture modal -->
		{% call bs_modal.BS_MODAL('give_feedback_modal', 'Great to have you here!') %}

		<form action="/book/feedback" name="book-feedback-form" method="POST">
			<div class="modal-body">
				<div class="input-group mb-3">
					<label class="input-group-text" for="feedback">Feedback</label>
					<input type="text" class="form-control" id="feedback" name="feedback" required />
				</div>
				<div class="input-group mb-3">
					<label class="input-group-text" for="rating">Rating</label>
					<input type="number" class="form-control" id="rating" name="rating" min="1" max="5" step="1" required />
				</div>
			</div>

			<input type="hidden" name="requested_book_id" value="{{ book_details.book_id }}" required />

			<div class="modal-footer">
				<button type="button" class="btn btn-outline-danger" data-bs-dismiss="modal">Cancel</button>
				<button type="submit" class="btn btn-outline-success">Go ahead!</button>
			</div>
		</form>

		{% endcall %}

	</div>

	{% include "/includes/bs_toast.html" %}

</body>

{# including HTML script tag' #}
{% include "/includes/scripts.html" %}

<script type="module" src="{{ url_for('static', filename = 'js/pages/user/view_book_details.js') }}"></script>

<script type="text/javascript">

</script>

{% include "/includes/html_end.html" %}